<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ruralbankingsystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <res-ref-name>jdbc/myoracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>packagerbs.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
    <url-pattern>/loginservlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>passwordchangingservlet</display-name>
    <servlet-name>passwordchangingservlet</servlet-name>
    <servlet-class>packagerbs.passwordchangingservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwordchangingservlet</servlet-name>
    <url-pattern>/passwordchangingservlet</url-pattern>
    <url-pattern>/passwordchangingservlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fundservlet</display-name>
    <servlet-name>fundservlet</servlet-name>
    <servlet-class>packagerbs.fundservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fundservlet</servlet-name>
    <url-pattern>/fundservlet</url-pattern>
    <url-pattern>/fundservlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeservlet</display-name>
    <servlet-name>employeeservlet</servlet-name>
    <servlet-class>packagerbs.employeeservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeservlet</servlet-name>
    <url-pattern>/employeeservlet</url-pattern>
    <url-pattern>/employeeservlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeservlet2</display-name>
    <servlet-name>employeeservlet2</servlet-name>
    <servlet-class>packagerbs.employeeservlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeservlet2</servlet-name>
    <url-pattern>/employeeservlet2</url-pattern>
    <url-pattern>/employeeservlet2/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profileservlet</display-name>
    <servlet-name>profileservlet</servlet-name>
    <servlet-class>packagerbs.profileservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileservlet</servlet-name>
    <url-pattern>/profileservlet</url-pattern>
    <url-pattern>/profileservlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeloginservlet</display-name>
    <servlet-name>employeeloginservlet</servlet-name>
    <servlet-class>packagerbs.employeeloginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeloginservlet</servlet-name>
    <url-pattern>/employeeloginservlet</url-pattern>
    <url-pattern>/employeeloginservlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showbalservlet</display-name>
    <servlet-name>showbalservlet</servlet-name>
    <servlet-class>packagerbs.showbalservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showbalservlet</servlet-name>
    <url-pattern>/showbalservlet</url-pattern>
    <url-pattern>/showbalservlet/*</url-pattern>
  </servlet-mapping>
</web-app>